body{
    font-family: sans-serif;

}
.form{
    width: 30%;
    padding: 124px;
}
.center input{
    text-align: center;
}
.div {
    width: 100%;
    padding: 40px 0;
    max-width: 500px;
   
}
.p {
    display: flex;
    align-items: center;
}
p:before,
p:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
}
p:before{
    margin: 0 20px 0 0;
}
p:after{
    margin: 0 0 0 20px;
}
h1{
    text-align: center;
}
i{
    font-size: 20px;
}
.mail{
    padding: 10px 40px;
    width:100%;
    border-radius: 4px;
}
.button{
    background-color:blue;
    padding: 12px 45px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}
.carect{
    background-color: rgba(162, 162, 216, 0.145);
    border-radius: 4px;
    text-align: center;
    width: 100%;
    padding: 12px 45px;
}
.underline{
    text-align: center;
}
.Continue{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.form-1{
    width:30%;
    padding: 124px;
}
.subtitle{
    text-align: center;
    color: rgba(173, 216, 230, 0.623);
}
.forget{
    text-align: end;
    margin: 18px;
    padding-right: 28px;
}
input{
    margin: 6px;
}
label{
    padding-left: 10px;
}
.space{
    padding: 16px 0px;
}
.form-2{
    width:30%;
    padding: 124px;
}
.form-2 div{
    width: 100% !important;
}
.back{
    background-color: rgba(255, 217, 0, 0.392); 
    color: black;
    padding: 8px;
    border-radius: 10px;
    width:90%;
    padding: 10px 46px;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i {
    position: absolute;
    left: 10px;
    top: 20px;
    padding: 16px 8px;
    color: #aaa;
    transition: 0.3s;
  }
.fa-arrow-up{
    margin-left: 180px;
}
  
  
  
  
  